<% include partials/header %>
	<div id="signup"  class="container">
		<h1>Login</h1>
		<!-- Form -->
	    <form action="/api/auth"  method="POST" class="js-validate">
	      <div class="js-form-message form-group mb-3">
	        <input type="email" class="form-control" name="username" id="emailAddress" placeholder="Email address" aria-label="Email address" required
	               data-msg="Please enter a valid email address."
	               data-error-class="u-has-error"
	               data-success-class="u-has-success">
	      </div>

	      <div class="js-form-message form-group mb-3">
	        <input type="password" class="form-control" name="password" id="password" placeholder="Password" aria-label="Password" required>
	      </div>

	      <div class="d-flex justify-content-center">
	        <button type="submit" class="btn btn-primary btn-wide transition-3d-hover">Login</button>
	      </div>
	    </form>
	</div>

<% include partials/footer %>